

/* Notification styles
-----------------------------------------------------------*/
#messagewrapper
{
	position: fixed;
	top: 0px;
	right: 10px;
	z-index: 1000;
	margin: 5px auto;
	width: 500px;
}

#messagewrapper .messagebox
{
	padding: 12px 10px 10px 30px;
	box-shadow: 5px 5px 10px #000;
}

#messagewrapper .success
{
	color: #060;
	background: #cfc url(Images/ok.gif) no-repeat 8px 12px;
}

#messagewrapper .warning
{
	color: #c60;
	background: #ffc url(Images/warn.gif) no-repeat 8px 12px;
}

#messagewrapper .error
{
	color: #c00;
	background: #fcc url(Images/fail.gif) no-repeat 8px 12px;
}

/* Notification styles
-----------------------------------------------------------*/
#messagewrapper
{
	position: fixed;
	top: 0px;
	right: 10px;
	z-index: 1000;
	margin: 5px auto;
	width: 500px;
}

#messagewrapper .messagebox
{
	padding: 12px 10px 10px 30px;
	box-shadow: 5px 5px 10px #000;
}

#messagewrapper .success
{
	color: #060;
	background: #cfc url(Images/ok.gif) no-repeat 8px 12px;
}

#messagewrapper .warning
{
	color: #c60;
	background: #ffc url(Images/warn.gif) no-repeat 8px 12px;
}

#messagewrapper .error
{
	color: #c00;
	background: #fcc url(Images/fail.gif) no-repeat 8px 12px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}
